<section class="common-page">
    <div class="apartment">
        <div class="header">
            <h2>Apartamentos</h2>
        </div>
        <div class="filters" [ngClass]="{ 'form-disabled': isLoading }">
            <input #apartmentInput type="text" placeholder="Buscar apartamentos..." />
            <div style="display: flex; gap: 10px; align-items: center; flex: 1;">
                <div style="width: 100%; display: flex; align-items: center; gap: 12px;">
                    <label for="towerFilter">Torre</label>
                    <select style="width: 100%;" [(ngModel)]="selectedTower" (change)="onTowerChange(selectedTower)">
                        @for (item of towers; track 'tower_' + item.id) {
                        @if (item.number === 0) {
                        <option [ngValue]="null">Todas</option>
                        } @else {
                        <option [ngValue]="item">{{ item.number }}</option>
                        }
                        }
                    </select>
                </div>
                <div style="width: 100%; display: flex; align-items: center; gap: 12px;">
                    <label for="statusFilter">Status</label>
                    <select style="width: 100%;" [(ngModel)]="selectedStatus" (change)="onStatusChange(selectedStatus)">
                        @for (item of availableStatus; track $index) {
                        <option [ngValue]="item">{{ getApartmentStatusTranslation(item) }}</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="status-grid">
            <app-simple-status-card [isLoading]="isLoading" title="Ocupados" [value]="35"
                color="green"></app-simple-status-card>
            <app-simple-status-card [isLoading]="isLoading" title="Alugados" [value]="10"
                color="blue"></app-simple-status-card>
            <app-simple-status-card [isLoading]="isLoading" title="Vagos" [value]="3"
                color="orangered"></app-simple-status-card>
        </div>
        <div class="content">
            <table class="apartment-table">
                <thead>
                    <tr>
                        <th>Apartmento</th>
                        <th>Proprietário</th>
                        <th>Vaga Garagem</th>
                        <th>Status</th>
                        <th>Area</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @if(isLoading) {
                    <tr>
                        <td colspan="6">
                            <div style="display: flex; justify-content: center; align-items: center; height: 800px;">
                                <app-main-spinner [size]="72"></app-main-spinner>
                            </div>
                        </td>
                    </tr>
                    } @else {
                    @for (item of filteredApartments; track 'apartment_' + item.id) {
                    <tr>
                        <td>
                            <div class="name-cell">
                                <div class="avatar">
                                    <span class="material-icons">home</span>
                                </div>
                                <div style="display: flex; flex-direction: column; gap:6px">
                                    <span>Torre: {{ item.towerNumber ? (item.towerNumber) : 'Não informado' }}</span>
                                    <span>Apartamento: {{ item.number ? (item.number) : 'Não informado'}}</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span>
                                {{ item.owner_name ? (item.owner_name)
                                : 'Não informado' }}
                            </span>
                        </td>
                        <td>
                            <span>
                                {{item.garage_number ? (item.garage_number) : 'Não informado'}}
                            </span>
                        </td>
                        <td>
                            <span>
                                {{getApartmentStatusTranslation(item.status)}}
                            </span>
                        </td>
                        <td>
                            <span>
                                85m²
                            </span>
                        </td>
                        <td class="actions">
                            ✏️ 🗑️
                        </td>
                    </tr>
                    }
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>